@import url('https://fonts.googleapis.com/css?family=Muli:300,600,900');

body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    background-color: #ffffff;
    max-width: 100%;
}

header {
  background-color: #ffe4cc;
  color: #dd6658;
  padding: 10px 20px;
}

nav {
  background-color: #ffe4cc;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  float: left;
  width: 200px;
  height: 100vh;
}

section {
  background-color: #7f7f7f;
  text-align: center;
}

aside {
  float: left;
}

#columns {
  background-color: #FFB7CF;
  height: 100vh;
}

#one {
  height: 100vh;
  background-color: #f7f7f7;
  width: 25%;
}

#two {
  height: 100vh;
  background-color: #d1d1d1;
  width: 25%;
}

#three {
  height: 100vh;
  background-color: #95ff93;
  width: 25%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1 {
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: .2;
}

a {
  text-decoration: none;
  color: #dd6658;
  display: block;
  padding: 10px 20px;
}

a:hover {
  background-color: #ffbb84;
}

img {
  max-width: 80%;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  nav {
    float: none;
    max-height: 400px;
    width: 100%;
  }
  img {
    max-width: 180px;
  }
  aside {
    float: none;
    max-height: 400px;
  }
  #one {
    width: 100%;
  }
  #two {
    width: 100%;
  }
  #three {
    width: 100%;
  }
}
